<!doctype html>
<html>

<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} CV</title>
  <link href="media/{{ site.style }}-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="media/{{ site.style }}-print.css" type="text/css" rel="stylesheet" media="print">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body style="background-color:rgb(242, 242, 242)">
  <div id="main">
    <div id="content">

      {{ content }}

      <table class="center" style="width: 85%">
        <thead>
          <tr>
            <th scope="colgroup"></th>
          </tr>
          <colgroup>
            <col width="20%" />
            <col width="75%" />
          </colgroup>
        </thead>
        <tbody>
          <tr>
            <td class="section_title">Overview</td>
            <td class="right_column"><br>
              I'm a backend developer, working in IT consulting since 2019. For the past few years, I've been mostly busy
              with server-side projects,
              distributed systems and cloud development to build telecommunications and financials services. I was a
              Linguistics graduate
              (exploring syntax-semantics interface theory) in a previous life. I started coding during a brief
              excursion into academia as research
              assistant in the NLP group of my uni.
            </td>
          </tr>
        </tbody>
      </table>

      <table class="center" style="width: 85%">
        <thead>
          <tr>
            <th scope="colgroup"></th>
          </tr>
          <colgroup>
            <col width="20%" />
            <col width="75%" />
          </colgroup>
        </thead>
        <tbody>
          <tr>
            <td class="section_title">Core Skills</td>
            <td class="right_column"><br> {{ site.data.skills | join: ', ' }} </td>
          </tr>
        </tbody>
      </table>

      <table class="center" style="width: 85%">
        <thead>
          <tr>
            <th scope="colgroup" class="section_title">Professional Experience</th>
          </tr>
          <colgroup>
            <col width="20%" />
            <col width="75%" />
          </colgroup>
        </thead>
        <tbody>
          {% for job in site.data.experience %}
          <tr>
            <td class="left_column">{{ job.duration }}</td>
            <td class="right_column_title">{{ job.position }}, {{ job.company }}</td>
          </tr>
          <tr>
            <td></td>
            <td class="right_column_descr">{{ job.summary }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


      <table class="center" style="width: 85%">
        <thead>
          <tr>
            <th scope="colgroup" class="section_title">Volunteering</th>
          </tr>
          <colgroup>
            <col width="20%" />
            <col width="75%" />
          </colgroup>
        </thead>
        <tbody>
          {% for activity in site.data.volunteering %}
          <tr>
            <td class="left_column">{{ activity.duration }}</td>
            <td class="right_column_title">{{ activity.position }}, {{ activity.institute }}</td>
          </tr>
          <tr>
            <td></td>
            <td class="right_column_descr">{{ activity.summary }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <table class="center" style="width: 85%">
        <thead>
          <tr>
            <th scope="colgroup" class="section_title">Certifications</th>
          </tr>
          <colgroup>
            <col width="20%" />
            <col width="75%" />
          </colgroup>
        </thead>
        <tbody>
          {% for cert in site.data.certs %}
          <tr>
            <td class="left_column">{{ cert.year }}</td>
            <td class="right_column_descr">
              {% for c in cert.group %}
              {{ c.name }}
              {% if c.shortName != nil %}
              <strong>({{ c.shortName }})</strong>
              {% endif %}
              {% if c.id != nil %}
              - <a href="{{ c.link }}">{{ c.id }}</a>
              {% endif %}
              <br>
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <table class="center" style="width: 85%">
        <thead>
          <tr>
            <th scope="colgroup" class="section_title">Education</th>
          </tr>
          <colgroup>
            <col width="20%" />
            <col width="75%" />
          </colgroup>
        </thead>
        <tbody>
          {% for stage in site.data.education %}
          <tr>
            <td class="left_column">{{ stage.duration }}</td>
            <td class="right_column_title">{{ stage.institute }}</td>
          </tr>
          <tr>
            <td></td>
            <td class="right_column_descr">{{ stage.title }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <table class="center" style="width: 85%">
        <thead>
          <tr>
            <th scope="colgroup" class="section_title">Languages</th>
          </tr>
          <colgroup>
            <col width="20%" />
            <col width="75%" />
          </colgroup>
        </thead>
        <tbody>
          {% for lang in site.data.languages %}
          <tr>
            <td class="left_column">-</td>
            <td class="right_column_descr">{{ lang.name }} ({{ lang.level }})</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <table class="center" style="width: 85%">
        <thead>
          <tr>
            <th scope="colgroup" class="section_title">Awards</th>
          </tr>
          <colgroup>
            <col width="20%" />
            <col width="75%" />
          </colgroup>
        </thead>
        <tbody>
          {% for a in site.data.awards %}
          <tr>
            <td class="left_column">{{ a.year }}</td>
            <td class="right_column_title">{{ a.name }}</td>
          </tr>
          <tr>
            <td></td>
            <td class="right_column_descr">{{ a.description }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</body>
<div id="footer" style="padding-top: 10px">
  
  <!-- last updated: 24 November 2022 -->

</div>

</html>

