<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title> {% if page.title %} {{ page.title }} | {% endif %} CV</title>
  <link href="media/main-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="media/main-print.css" type="text/css" rel="stylesheet" media="print">
  <script src="https://kit.fontawesome.com/e7d7c5a1ca.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/png" href="http://www.catb.org/hacker-emblem/glider.png">
</head>

<body style="background-color:rgb(242, 242, 242)">
  <div id="main">
    <div id="content">

      {{ content }}

      <table class="center" style="width: 85%">
        <thead>
          <tr>
            <th scope="colgroup"></th>
          </tr>
          <colgroup>
            <col width="20%" />
            <col width="75%" />
          </colgroup>
        </thead>
        <tbody>
          <tr>
            <td class="section_title">Overview</td>
            <td class="right_column"><br>
              I have been working as a software developer in telecommunications and financial
              services since 2019.
              I was a Linguistics graduate (exploring syntax-semantics interface theory) in a previous life. I started
              coding during a brief excursion into academia.
            </td>
          </tr>
        </tbody>
      </table>

      <table class="center" style="width: 85%">
        <thead>
          <tr>
            <th scope="colgroup" class="section_title">Skills</th>
          </tr>
          <colgroup>
            <col width="20%" />
            <col width="75%" />
          </colgroup>
        </thead>
        <tbody>
          <tr>
            <td class="left_column">Proficient</td>
            <td class="right_column">{{ site.data.skills.proficient | join: ', ' }} </td>
          </tr>
          <tr>
            <td class="left_column">Actively Learning</td>
            <td class="right_column">{{ site.data.skills.actively-learning | join: ', ' }} </td>
          </tr>
          <tr>
            <td class="left_column">Hobby Level</td>
            <td class="right_column">{{ site.data.skills.hobby-level | join: ', ' }} </td>
          </tr>
        </tbody>
      </table>

      <table class="center" style="width: 85%">
        <thead>
          <tr>
            <th scope="colgroup" class="section_title">Experience</th>
          </tr>
          <colgroup>
            <col width="20%" />
            <col width="75%" />
          </colgroup>
        </thead>
        <tbody>
          {% for job in site.data.experience %}
          <tr>
            <td class="left_column">{{ job.duration }}</td>
            <td class="right_column_title">{{ job.position }}, {{ job.company }}</td>
          </tr>
          {% for line in job.summary %}
          <tr>
            <td></td>
            <td class="right_column_descr">{{ line }}</td>
          </tr>
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>


      <table class="center" style="width: 85%">
        <thead>
          <tr>
            <th scope="colgroup" class="section_title">Volunteering</th>
          </tr>
          <colgroup>
            <col width="20%" />
            <col width="75%" />
          </colgroup>
        </thead>
        <tbody>
          {% for activity in site.data.volunteering %}
          <tr>
            <td class="left_column">{{ activity.duration }}</td>
            <td class="right_column_title">{{ activity.position }}, {{ activity.institute }}</td>
          </tr>
          <tr>
            <td></td>
            <td class="right_column_descr">{{ activity.summary }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <table class="center" style="width: 85%">
        <thead>
          <tr>
            <th scope="colgroup" class="section_title">Certifications</th>
          </tr>
          <colgroup>
            <col width="20%" />
            <col width="75%" />
          </colgroup>
        </thead>
        <tbody>
          {% for cert in site.data.certs %}
          <tr>
            <td class="left_column">{{ cert.year }}</td>
            <td class="right_column_descr">
              {% for c in cert.group %}
              {{ c.name }}
              {% if c.shortName != nil %}
              <strong>({{ c.shortName }})</strong>
              {% endif %}
              {% if c.id != nil %}
              - (id: <a href="{{ c.link }}">{{ c.id }}</a>)
              {% endif %}
              <br>
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <table class="center" style="width: 85%">
        <thead>
          <tr>
            <th scope="colgroup" class="section_title">Education</th>
          </tr>
          <colgroup>
            <col width="20%" />
            <col width="75%" />
          </colgroup>
        </thead>
        <tbody>
          {% for stage in site.data.education %}
          <tr>
            <td class="left_column">{{ stage.duration }}</td>
            <td class="right_column_title">{{ stage.institute }}</td>
          </tr>
          <tr>
            <td></td>
            <td class="right_column_descr">{{ stage.description }}</td>
          </tr>
          <tr>
            <td></td>
            <td class="right_column_descr">{{ stage.notes }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <table class="center" style="width: 85%">
        <thead>
          <tr>
            <th scope="colgroup" class="section_title">Languages</th>
          </tr>
          <colgroup>
            <col width="20%" />
            <col width="75%" />
          </colgroup>
        </thead>
        <tbody>
          {% for lang in site.data.languages %}
          <tr>
            <td class="left_column"></td>
            <td class="right_column_descr">{{ lang.name }} ({{ lang.level }})</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <table class="center" style="width: 85%">
        <thead>
          <tr>
            <th scope="colgroup" class="section_title">Spare Time</th>
          </tr>
          <colgroup>
            <col width="20%" />
            <col width="75%" />
          </colgroup>
        </thead>
        <tbody>
          <tr>
            <td class="left_column"></td>
            <td class="right_column_descr">{{ site.data.spare-time | join: ', ' }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</body>
<div id="footer" style="padding-top: 10px">

  <!-- last updated: 24 November 2022 -->

</div>

</html>
